/* Right Eye */
.right-eye {
  position: absolute;
  width: 45px;
  height: 106px;
  top: 81px;
  left: 261.5px;
  background: var(--eye-4);
  border-radius: 50%;
  transform: rotate(-5deg);
}

.right-eye::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 67px;
  top: 34px;
  left: 6px;
  background: linear-gradient(to top, var(--eye-2) 10%, var(--eye-3) 30%);
  border-radius: 50%;
}

.right-eye::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: /* Pupil - White */ radial-gradient(
        100% 100% at 50% 50%,
        var(--eye-1) 49%,
        var(--t) 0%
      )
      50% 11% / 24px 37px,
    /* Iris - Light Blue */
      radial-gradient(100% 100% at 50% 50%, var(--eye-2) 49%, var(--t) 50%) 50%
      7% / 31px 44px,
    /* Base Color */
      radial-gradient(100% 100% at 50% 50%, var(--eye-4) 49%, var(--t) 50%) 50%
      58% / 35px 45px;
  background-repeat: no-repeat;
  filter: blur(0.5px);
  border-radius: 50%;
}

/* Left Eye */
.left-eye {
  position: absolute;
  width: 44px;
  height: 102px;
  top: 88px;
  left: 176px;
  background: var(--eye-4);
  border-radius: 50%;
  background-repeat: no-repeat;
  transform: rotate(0deg);
}

.left-eye::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 67px;
  top: 31px;
  left: 5px;
  background: linear-gradient(to top, var(--eye-2) 10%, var(--eye-3) 30%);
  border-radius: 50%;
  transform: rotate(-3deg);
}

.left-eye::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: /* Pupil - White */ radial-gradient(
        100% 100% at 50% 50%,
        var(--eye-1) 49%,
        var(--t) 50%
      )
      50% 11% / 24px 37px,
    /* Iris - Light Blue */
      radial-gradient(100% 100% at 50% 50%, var(--eye-2) 49%, var(--t) 50%) 50%
      7% / 31px 44px,
    /* Base Color */
      radial-gradient(100% 100% at 50% 50%, var(--eye-4) 49%, var(--t) 50%) 50%
      58% / 39px 45px;
  background-repeat: no-repeat;
  filter: blur(0.5px);
  border-radius: 50%;
}

/* Cheek Mark */
.cheek-mark {
  position: absolute;
  width: 54px;
  height: 41px;
  top: 175px;
  left: 109px;
  background: var(--body-5);
  border-radius: 50%;
  filter: blur(2px);
  box-shadow: 217px -10px 2px 0 var(--body-5);
}

/* Mouth */
.mouth {
  position: absolute;
  width: 62px;
  height: 53px;
  top: 193px;
  left: 214px;
  background: var(--mouth-2);
  clip-path: path(
    "M 32,1 C 57,2 70,12 50,39 C 48,41 34,60 17,44 C -12,15 3,2 32,1"
  );
}

.mouth::after {
  content: "";
  position: absolute;
  width: 62px;
  height: 53px;
  background: 
     /* Tongue */ radial-gradient(
      100% 100% at 50% 50%,
      var(--mouth-4),
      var(--mouth-1) 49%,
      var(--t) 50%
    )
    50% 93% / 61px 30px;
  background-repeat: no-repeat;
  transform: rotate(-2deg);
  filter: blur(0.5px);
}

/* Body */
.body {
  position: absolute;
  width: 365px;
  height: 358px;
  top: 25px;
  left: 64px;
  background: radial-gradient(
      100% 100% at 50% 50%,
      var(--body-1) 25%,
      var(--body-2),
      var(--body-4) 49%,
      var(--t) 50%
    )
    80% 83% / 355px 358px;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 15px 5px var(--shadow));
}

/* Left Arm */
.left-arm {
  position: absolute;
  width: 140px;
  height: 110px;
  top: 154px;
  left: 17px;
  background: radial-gradient(
    at 20% 30%,
    var(--body-2) 5%,
    var(--body-3),
    var(--body-5)
  );
  border-radius: 50%;
  transform: rotate(-32deg);
}

/* Right Arm */
.right-arm {
  position: absolute;
  width: 125px;
  height: 135px;
  top: 87px;
  left: 356px;
  background: radial-gradient(
    at 50% 30%,
    var(--body-1) 5%,
    var(--body-2),
    var(--body-4) 60%
  );
  border-radius: 50%;
  filter: drop-shadow(0px 5px 10px var(--shadow));
}

/* Right Foot */
.right-foot {
  position: absolute;
  width: 153px;
  height: 234px;
  top: 240px;
  left: 251px;
  background: radial-gradient(
    circle at 50% 75%,
    var(--feet-1) 10%,
    var(--feet-2) 50%
  );
  border-radius: 50%;
  background-repeat: no-repeat;
  transform: rotate(12deg);
}

/* Left Foot */
.left-foot {
  position: absolute;
  width: 213px;
  height: 151px;
  top: 252px;
  left: 40px;
  background: radial-gradient(at 45% 50%, var(--feet-2), var(--feet-1));
  border-radius: 50%;
  transform: rotate(41deg);
  filter: drop-shadow(2px -1px 5px var(--shadow));
}

.left-foot::before {
  content: "";
  position: absolute;
  width: 213px;
  height: 151px;
  background: 
 /* Highlight */ radial-gradient(
        100% 100% at 50% 50%,
        var(--feet-4) 49%,
        var(--t) 50%
      )
      27% 21% / 80px 25px,
    /* Base Shadow */
      radial-gradient(100% 100% at 50% 50%, var(--feet-3) 49%, var(--t) 50%) 55%
      80% / 185px 96px;
  background-repeat: no-repeat;
  border-radius: 50%;
  filter: blur(10px);
}

/**************************************/
/* Color, Body and Container Settings */
/**************************************/
/* Color palette */
:root {
  /* Transparent */
  --t: transparent;

  /* Body */
  --body-1: hsla(322, 100%, 86%, 1);
  --body-2: hsla(329, 100%, 84%, 1);
  --body-3: hsla(340, 97%, 77%, 1);
  --body-4: hsla(341, 92%, 74%, 1);
  --body-5: hsla(328, 100%, 69%, 1);

  /* Eyes */
  --eye-1: hsla(300, 100%, 100%, 1);
  --eye-2: hsla(224, 78%, 51%, 1);
  --eye-3: hsla(226, 77%, 18%, 1);
  --eye-4: hsla(0, 0%, 0%, 1);

  /* Mouth */
  --mouth-1: hsla(357, 78%, 54%, 1);
  --mouth-2: hsla(353, 98%, 17%, 1);
  --mouth-3: hsla(0, 0%, 100%, 0.08);
  --mouth-4: hsla(356, 78%, 43%, 1);

  /* Feet */
  --feet-1: hsla(347, 97%, 59%, 1);
  --feet-2: hsla(342, 100%, 33%, 1);
  --feet-3: hsla(345, 95%, 29%, 1);
  --feet-4: hsla(347, 97%, 60%, 1);

  /* Shadow */
  --shadow: hsla(240, 0%, 26%, 0.5);
}

/* Center shapes */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Set container and optional light gray border */
.container {
  width: 500px;
  height: 500px;
  /*   border: 5px solid lightgray; */
  background: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}
